main p{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
.section-1{
    background-color: rgb(226, 218, 218);
}
.section-2{
    background-color: rgb(250, 213, 200);
}
.section-3{
    background-color: rgb(231, 221, 241);
}
.section-4{
    background-color: rgb(236, 204, 204);
}
.icon{
    width: 300px;
    padding-left: 15%;
    
}
.model-picture{
    width: 100%;
}
.colors{
    color: #d6651a;
}
h1{
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}

.jacket{
    height: 350px;
    width: 100%;
    background-color: rgb(231, 228, 228);
    border-radius: 5%;
    padding: 5px;
}
.jacket2{
    height: 350px;
    width: 100%;
    background-color: rgb(231, 228, 228);
    border-radius: 5%;
    padding: 10px 30px;
}
.jacket3{
    height: 350px;
    width: 100%;
    background-color: rgb(231, 228, 228);
    border-radius: 5%;
    padding: 10%;
}
.icon-picture{
    width: 40%;
}
.offer{
    background-color:rgb(215, 188, 241)
}
.offer-picture{
    width: 100%;
    height: 500px;
}
    

